.form-container h1 {
  color: #4e4b48;
  font-family: benton-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.form-container p {
  color: #4e4b48;
  font-family: benton-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

.form-container {
  background-color: LightGray;
  padding: 3%;
  margin: 0 auto;
  max-width: 750px;
  position: center;
}

.form-container input[type="email"] {
  width: 77%;
  margin-top: 0 auto;
  position: center;
  height: 1.8rem;
}

.form-container button {
  background-color: white !important;
  border: 1px #4e4b48 solid;
  width: 17%;
  color: #4e4b48;
  font-size: 1.5rem;
  position: center;
  margin-left: 3%;
}

.form-container .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 900px) {
  .form-container h1 {
    color: purple;
  }

  .form-container input[type="email"] {
    width: 60%;
  }

  .form-container button {
    width: 25%;

}
@media only screen and (max-width: 750px) {
  .form-container h1 {
    color: purple;
  }

  .form-container input[type="email"] {
    width: 94%;
    margin-left:0;
    margin-right:3%;
  }

  .form-container button {
    width: 90%;
    margin-top:3vh;
    margin-left:3%;
    margin-right:0;
    }
